body{
    margin:0;
    padding:0;
    background-color: black;
    color:white;
    overflow-y: hidden;
    overflow-x: auto;
  }
  
  #rotateScreen{
    display: none;
    text-align: center;
    margin-top: 50vh;
    transform: translateY(-50%);
  }
  
  #displayContent{
    display: none;
  }

.block {
  width: 2000px;
  height: 500px;
  background-color: rgb(184, 21, 21);
}